.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.flex-cen-jc-cen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-cen-jc-spbet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-cen-ai-end {
  display: flex;
  align-items: end;
  justify-content: center;
}
.flex-cen-ai-start {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.flex-col-ai-cen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-col-ai-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.flex-col-ai-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.flex-col-jc-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.size-100 {
  width: 100%;
}
.size-90 {
  width: 90%;
}
.size-80 {
  width: 80%;
}
.size-70 {
  width: 70%;
}
.size-60 {
  width: 60%;
}
.size-50 {
  width: 50%;
}
.size-40 {
  width: 40%;
}
.size-20 {
  width: 20%;
}

.gp-5 {
  gap: 5px;
}
.gp-10 {
  gap: 10px;
}
.gp-15 {
  gap: 15px;
}
.gp-20 {
  gap: 20px;
}
.gp-30 {
  gap: 30px;
}
.gp-40 {
  gap: 40px;
}
.gp-50 {
  gap: 50px;
}
.gp-60 {
  gap: 60px;
}

.mrb-10 {
  margin-bottom: 10px;
}
.mrb-15 {
  margin-bottom: 15px;
}
.mrb-20 {
  margin-bottom: 20px;
}
.mrb-25 {
  margin-bottom: 25px;
}
.mrb-30 {
  margin-bottom: 30px;
}
.mrb-40 {
  margin-bottom: 40px;
}
.mrb-80 {
  margin-bottom: 80px;
}
.mrb-120 {
  margin-bottom: 120px;
}
.mrb-160 {
  margin-bottom: 160px;
}

.z-0 {
  z-index: 1;
}
.z-1 {
  z-index: 1;
}
